{% extends 'dashboard.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <h1>Clientes.</h1>
    <h2>Clientes que compran directo en almacen.</h2>
    <br>
    <div class="table-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Puntos</th>

                </tr>
            </thead>
            <tbody>
                {% for c in clientes %}
                <tr>
                    <td>{{ c.id_cliente }}</td>
                    <td>{{ c.nombre }}</td>
                    <td>{{ c.correo }}</td>
                    <td>{{ c.puntos }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    {% endblock %}
</body>

</html>